.marginLow{
    margin: 20px 10px;
}
#HBL{
    margin: 0;
    background: white;
    position: absolute;
    bottom: 1px;
    font-size: 75px;
}
.page {
    flex-direction: row;
    background-color: white;
    justify-content:center;
    align-content:center;
    align-items:center;
}
p{
    font-size: 75px;
}
.section {
    margin: 10;
    padding: 10;
    flex-grow: 1
}
.diver {
    width:  100vw;
    height: 100vh;
}
.rightText{
    text-align: right;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    height: 800px;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0;
}
.smallPadding{
    padding:5px
}
.mediumPadding{
    padding:0 10px
}
.cell {
    width:40vw;
    flex-basis: 40vw;
    border: 1px solid #000;
    padding: 5px;
}
.cellBig {
    padding: 5px;
}
.cellSmal {
    padding: 1rem;
}
.fullCell {
    width:100%;
    flex-basis: 100%;
    border: 1px solid #000;
    padding: 0 5px;
}
.imageSize{
    width: 400px;
    height: auto;
    max-height: 100%;   
}
.barcode{
    width: 600px;
    height: auto;
    max-height: 301px;
    margin: 0;
    padding: 0;
}
.centerAll{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    align-content: center
}
.fontHeader{
    font-size: 65px
}
.fontSmaller{
    font-size: 24px
}